<!DOCTYPE html>
<html>
    <head>
        {{head}}

        {{css}}

        <script src="{{highlightJs}}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>
    <body class="markdown-body">
        {{header}}
        {{body}}
    </body>
</html>